.cf:after {
    content: "";
    display: table;
    clear: both;
}

.cf {
    *zoom: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, "微软雅黑";
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

.lwx-qywz-box {
    width: 1200px;
    height: 3687px;
    margin: 0 auto;
}

.lwx-qywz-zj {
    width: 1200px;
    margin: 0 auto;
}

/*.lwx-qywz-zj-zb {
    width: 880px;
    float: left;
}*/

/*首页中间右边相同部分开始*/
.lwx-qywz-zj-yb {
    width: 310px;
    float: left;
    margin-left: 10px;
    margin-top: 16px;
}

.lwx-qywz-zj-yb-1 {

}

.lwx-qywz-zj-yb-1-title {
    font-size: 17px;
    font-weight: bold;
    padding: 1px 0 19px 0;
}

.lwx-qywz-zj-yb-1-title img {
    margin-right: 8px;
    vertical-align: middle;
}

.lwx-qywz-zj-yb-1-imgs {
    width: 311px;
    overflow: hidden; /*多出部分隐藏*/
}

.lwx-qywz-zj-yb-1-imgs img {
    margin-right: 3px;
    margin-bottom: 3px;
    opacity: .85;
}

.lwx-qywz-zj-yb-1-imgs img:hover {
    opacity: 1;
}

.lwx-qywz-zj-yb-2-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 20px;
}

.lwx-qywz-zj-yb-2-title img {
    margin-right: 8px;
    vertical-align: middle;
}

.lwx-qywz-zj-yb-2-hn {
    width: 310px;
}

.lwx-qywz-zj-yb-2-hn a {
    color: #979797;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    width: 153px;
    height: 38px;
    background-color: #f6f6f6;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

.lwx-qywz-zj-yb-2-hn a:hover {
    background-color: #ff5842;
    color: #FFFFFF;
}

.lwx-qywz-zj-yb-3-title {
    font-size: 17px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 20px;
}

.lwx-qywz-zj-yb-3-title img {
    margin-right: 8px;
    vertical-align: middle;
}

.lwx-qywz-zj-yb-4-title {
    height: 52px;
    background-color: #f24933;
    margin-top: 20px;
}

.lwx-qywz-zj-yb-4-title span {
    width: 103px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    background-color: #ff5842;
    margin-top: 5px;
}

#lwx-qywz-zj-yb-4-title-1 {
    background-color: #f24933;
}

.lwx-qywz-zj-yb-4-img {
    width: 306px;
    border: 2px solid #f8f8f8;
    border-top: none;
}

.lwx-qywz-zj-yb-4-img-1 {
    padding: 10px;
    border-bottom: 2px solid #f8f8f8;
}

.lwx-qywz-zj-yb-4-img-1 img {
    float: left;
    margin-right: 9px;
}

.lwx-qywz-zj-yb-4-img-2 {
    padding: 10px;
}

.lwx-qywz-zj-yb-4-img-2 img {
    float: left;
    margin-right: 9px;
}

.lwx-qywz-zj-yb-5-hn {
    width: 310px;
}

.lwx-qywz-zj-yb-5-hn a {
    padding: 10px 9px;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
    color: #9f9f9f;
    background-color: #f6f6f6;
}

.lwx-qywz-zj-yb-5-hn a:hover {
    color: #FFFFFF;
    background-color: #ff5842;
}

.lwx-qywz-zj-yb-7-gz {
    width: 306px;
    height: 48px;
    background: url("../images/gz_home_page(magazine)_03.png") no-repeat #f6f6f6;
    background-position: 8px 13px;
    border: 2px solid #f6f6f6;
    margin-bottom: 2px;
    color: #aeaeae;
}

.lwx-qywz-zj-yb-7-gz p {
    font-size: 9px;
    margin-top: 12px;
    margin-left: 50px;
}

.lwx-qywz-zj-yb-7-gz:hover {
    background: url("../images/gz2_home_page(magazine)_03.png") no-repeat #50b4e6;
    background-position: 8px 13px;
    border: 2px solid #42a7d9;
    color: #FFFFFF;
    cursor: pointer;
}

.lwx-qywz-zj-yb-8-1 {
    margin-bottom: 15px;
}

.lwx-qywz-zj-yb-8-2 {
    width: 219px;
    height: 41px;
    border: 2px solid #dcdcdc;
    border-right: none;
    float: left;
}

.lwx-qywz-zj-yb-8-3 {
    width: 88px;
    height: 45px;
    color: #fff6f6;
    background-color: #ff5842;
    border: none;
    float: left;
}

/*首页中间右边相同部分结束*/
