.cf:after {
    content: '';
    clear: both;
    display: table
}

body {font-family: Arial , "微软雅黑";}
.hu-box {
    width: 880px;
    float: left;
}

/*blog页面*/
.hu-box-bg {
    background: url("../images/bg01.png") no-repeat;
    vertical-align: middle;
    text-indent: 40px;
    font-size: 28px;
    font-weight: bold
}

.hu-box_height {height: 235px;}
.hu-box-info {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.hu-box-img {
    float: left
}

.info-right {
    float: left;
    width: 620px;
    margin-left: 10px;
    cursor: pointer
}

.info-right .hu-info-top {
    font-size: 20px;
}

.info-right .hu-info-head {
    font-size: 12px
}

.info-right .hu-info-head span {
    color: #ff5842
}

.info-right .hu-info-mid {
    font-size: 14px;
}

.info-right .hu-info-bottom {
    color: #fff;
    background: #ff5842;
    width: 183px;
    height: 45px;
    text-align: center;
    line-height: 45px
}

.hu-box .paging span {
    display: inline-block;
    width: 45px;
    height: 40px;
    background: #ff5842;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer
}

.hu-box .paging .left {
    float: left
}

.hu-box .paging .right {
    float: right
}

/*stop页面*/
/*

/*portfolio页面*/
.hu-box{width: 880px;/* height: 2340px;*/}
.hu-box-bg{background: url("../images/bg01.png") no-repeat 0 15px;vertical-align: middle;text-indent: 40px;font-size: 28px;font-weight: bold; padding: 16px 0 19px 0;}
.hu-box-info {width: 880px; float: left;}
.hu-box-info .font-weight{font-weight: bold;box-shadow: 2px 2px 10px #ccc;}
.hu-box-wor {width: 880px; float: left; border: 2px solid #f8f8f8;margin-bottom: 30px;}
.hu-info-top{font-size: 20px;}
.hu-info-head{font-size: 12px}
.hu-info-head span{color: #ff5842}
.hu-box .btn{width: 183px;height: 45px;line-height: 45px;text-align: center;color: #fff;font-weight: bold;margin: 0 auto;background:#ff5842;cursor: pointer }
/*about us页面*/

.hu-box .hu-box-wht {width: 430px;border: 2px solid #f8f8f8;margin-bottom: 30px;}
.hu-box .hu-box-wht img {width: 430px; height: 214px;}
.hu-box-info .left{float: left;cursor: pointer}
.hu-box-info .right{float: right;cursor: pointer}